---
import { FileDownloader } from '../../components/FileDownloader';

const { fileName } = Astro.params;
---

<html>
<head>
    <title>Download File: {fileName}</title>
</head>
<body style="background-color: #f0f9ff; font-family: 'Roboto', sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
<FileDownloader fileName={fileName} client:load/>
</body>
</html>
